body {
	background-image: url("../images/swirl_pattern.png");
}

.panel {
	background-color: white;
	border: 2px solid black;
}

#random-number, #win-lose, h2 {
	text-align: center;
}

.page-header {
	text-align: center;
}